@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow: auto !important;
  background-color: #020405;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

html,
body,
#app {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  background: #020405;
}

section {
  padding: 100px;
}

.Toastify__toast {
  background: #353741;
  color: #fff;
  font-size: 1.5rem;
  padding: 15px;
  border-right: 5px solid #fff;
}

.Toastify__toast--success {
  border-color: #13c150;
}

.Toastify__toast--warning {
  border-color: #ff9300;
}

.Toastify__toast--error {
  border-color: #e10d05;
}

.mapboxgl-popup-close-button {
  padding: 15px;
  font-size: 20px;
  color: #fff;
}

.mapboxgl-popup-close-button:focus {
  outline: 0;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #353741 !important;
}

.mapboxgl-popup-content {
  background-color: #353741 !important;
  padding: 15px !important;
  min-width: 250px;
}
